# NGC 12 Fitrasari

## Import Library

In [172]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np
import seaborn as sns

## Data Loading & Cleaning

In [173]:
pd.set_option('display.max_columns',None)
data = pd.read_csv('covid_19_indonesia_time_series_all.csv')
data.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,39,-20,Province,NaN,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,100.00%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,39,-18,Province,NaN,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,95.12%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,2,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,0,2,Province,NaN,Riau,Indonesia,Asia,Sumatera,UTC+07:00,NaN,10,2.0,169,268.0,1591.0,87024,6074100,69.80,101.805109,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,39,-16,Province,NaN,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,90.70%,1.0,1.0

In [174]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20816 entries, 0 to 20815
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         20816 non-null  object
 1   Location ISO Code            20816 non-null  object
 2   Location                     20816 non-null  object
 3   New Cases                    20816 non-null  int64
 4   New Deaths                   20816 non-null  int64
 5   New Recovered                20816 non-null  int64
 6   New Active Cases             20816 non-null  int64
 7   Total Cases                  20816 non-null  int64
 8   Total Deaths                 20816 non-null  int64
 9   Total Recovered              20816 non-null  int64
 10  Total Active Cases           20816 non-null  int64
 11  Location Level               20816 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     20202 non-null  object
 14  Country                      20816 non-null  object
 15  Continent                    20816 non-null  object
 16  Island                       20202 non-null  object
 17  Time Zone                    20202 non-null  object
 18  Special Status               2988 non-null   object
 19  Total Regencies              20816 non-null  int64
 20  Total Cities                 20228 non-null  float64
 21  Total Districts              20816 non-null  int64
 22  Total Urban Villages         20226 non-null  float64
 23  Total Rural Villages         20201 non-null  float64
 24  Area (km2)                   20816 non-null  int64
 25  Population                   20816 non-null  int64
 26  Population Density           20816 non-null  float64
 27  Longitude                    20816 non-null  float64
 28  Latitude                     20816 non-null  float64
 29  New Cases per Million        20816 non-null  float64
 30  Total Cases per Million      20816 non-null  float64
 31  New Deaths per Million       20816 non-null  float64
 32  Total Deaths per Million     20816 non-null  float64
 33  Total Deaths per 100rb       20816 non-null  float64
 34  Case Fatality Rate           20816 non-null  object
 35  Case Recovered Rate          20816 non-null  object
 36  Growth Factor of New Cases   19709 non-null  float64
 37  Growth Factor of New Deaths  18449 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.0+ MB

In [175]:
data.columns

Index(['Date', 'Location ISO Code', 'Location', 'New Cases', 'New Deaths',
       'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths',
       'Total Recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'Total Deaths per 100rb', 'Case Fatality Rate', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths'],
      dtype='object')

In [176]:
data.drop(['City or Regency','Special Status','Time Zone','New Cases per Million', 
           'Total Cases per Million','New Deaths per Million', 'Total Deaths per Million',
           'Total Deaths per 100rb', 'Case Fatality Rate', 'Case Recovered Rate',
           'Growth Factor of New Cases', 'Growth Factor of New Deaths','Location ISO Code',
           'Country', 'Continent','Longitude','Latitude'],axis=1, inplace=True)

In [177]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20816 entries, 0 to 20815
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  20816 non-null  object
 1   Location              20816 non-null  object
 2   New Cases             20816 non-null  int64
 3   New Deaths            20816 non-null  int64
 4   New Recovered         20816 non-null  int64
 5   New Active Cases      20816 non-null  int64
 6   Total Cases           20816 non-null  int64
 7   Total Deaths          20816 non-null  int64
 8   Total Recovered       20816 non-null  int64
 9   Total Active Cases    20816 non-null  int64
 10  Location Level        20816 non-null  object
 11  Province              20202 non-null  object
 12  Island                20202 non-null  object
 13  Total Regencies       20816 non-null  int64
 14  Total Cities          20228 non-null  float64
 15  Total Districts       20816 non-null  int64
 16  Total Urban Villages  20226 non-null  float64
 17  Total Rural Villages  20201 non-null  float64
 18  Area (km2)            20816 non-null  int64
 19  Population            20816 non-null  int64
 20  Population Density    20816 non-null  float64
dtypes: float64(4), int64(12), object(5)
memory usage: 3.3+ MB

In [178]:
data.fillna('None',inplace=True)

In [179]:
data.isnull().sum()

Date                    0
Location                0
New Cases               0
New Deaths              0
New Recovered           0
New Active Cases        0
Total Cases             0
Total Deaths            0
Total Recovered         0
Total Active Cases      0
Location Level          0
Province                0
Island                  0
Total Regencies         0
Total Cities            0
Total Districts         0
Total Urban Villages    0
Total Rural Villages    0
Area (km2)              0
Population              0
Population Density      0
dtype: int64

In [180]:
data.head()

,Date,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,Province,Island,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density
0,3/1/2020,DKI Jakarta,2,0,0,2,39,20,39,-20,Province,DKI Jakarta,Jawa,1,5.0,44,267.0,None,664,10846145,16334.31
1,3/2/2020,DKI Jakarta,2,0,0,2,41,20,39,-18,Province,DKI Jakarta,Jawa,1,5.0,44,267.0,None,664,10846145,16334.31
2,3/2/2020,Indonesia,2,0,0,2,2,0,0,2,Country,None,None,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34
3,3/2/2020,Riau,1,0,0,1,2,0,0,2,Province,Riau,Sumatera,10,2.0,169,268.0,1591.0,87024,6074100,69.80
4,3/3/2020,DKI Jakarta,2,0,0,2,43,20,39,-16,Province,DKI Jakarta,Jawa,1,5.0,44,267.0,None,664,10846145,16334.31

In [181]:
df = data[data['Location Level'] != 'Country']
df.head()

,Date,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,Province,Island,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density
0,3/1/2020,DKI Jakarta,2,0,0,2,39,20,39,-20,Province,DKI Jakarta,Jawa,1,5.0,44,267.0,None,664,10846145,16334.31
1,3/2/2020,DKI Jakarta,2,0,0,2,41,20,39,-18,Province,DKI Jakarta,Jawa,1,5.0,44,267.0,None,664,10846145,16334.31
3,3/2/2020,Riau,1,0,0,1,2,0,0,2,Province,Riau,Sumatera,10,2.0,169,268.0,1591.0,87024,6074100,69.80
4,3/3/2020,DKI Jakarta,2,0,0,2,43,20,39,-16,Province,DKI Jakarta,Jawa,1,5.0,44,267.0,None,664,10846145,16334.31
6,3/3/2020,Jawa Barat,1,1,0,0,1,1,2,-2,Province,Jawa Barat,Jawa,18,9.0,627,645.0,5312.0,35378,45161325,1276.55

In [182]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20202 entries, 0 to 20815
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  20202 non-null  datetime64[ns]
 1   Location              20202 non-null  object
 2   New Cases             20202 non-null  int64
 3   New Deaths            20202 non-null  int64
 4   New Recovered         20202 non-null  int64
 5   New Active Cases      20202 non-null  int64
 6   Total Cases           20202 non-null  int64
 7   Total Deaths          20202 non-null  int64
 8   Total Recovered       20202 non-null  int64
 9   Total Active Cases    20202 non-null  int64
 10  Location Level        20202 non-null  object
 11  Province              20202 non-null  object
 12  Island                20202 non-null  object
 13  Total Regencies       20202 non-null  int64
 14  Total Cities          20202 non-null  object
 15  Total Districts       20202 non-null  int64
 16  Total Urban Villages  20202 non-null  object
 17  Total Rural Villages  20202 non-null  object
 18  Area (km2)            20202 non-null  int64
 19  Population            20202 non-null  int64
 20  Population Density    20202 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(12), object(7)
memory usage: 3.4+ MB

<ipython-input-182-87651bb8c13d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])

## Hypothesis Testing

In [189]:
dki = df[df['Province']=='DKI Jakarta'][['Date','New Cases']].groupby('Date').sum().sample(200)
jatim = df[df['Province']=='Jawa Timur'][['Date','New Cases']].groupby('Date').sum().sample(200)

My hypothesis on this case:

H0: μ_dki = μ_jabar

H1: μ_dki != μ_jabar

In [191]:
t_stat, p_val = stats.ttest_ind(dki,jatim)
print('P-value:',p_val[0])
print('t-statistics:',t_stat[0])

P-value: 0.0003502187879016818
t-statistics: 3.6061949911191475

### In this case, we get that P-value < 0,05. Where 0,05 is the critical point that i set. So we can reject the Null Hypothesis (H0). That means there is some significant difference between the data in DKI Jakarta and Jawa Timur.