# NGC 11 Fitrasari

## Import Library

In [80]:
import pandas as pd
import matplotlib.pyplot as plt

## Data Loading

In [81]:
df = pd.read_csv('covid_19_indonesia_time_series_all.csv')
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,39,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,100.00%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,39,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,95.12%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,0,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,39,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,90.70%,1.0,1.0

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20816 entries, 0 to 20815
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         20816 non-null  object
 1   Location ISO Code            20816 non-null  object
 2   Location                     20816 non-null  object
 3   New Cases                    20816 non-null  int64
 4   New Deaths                   20816 non-null  int64
 5   New Recovered                20816 non-null  int64
 6   New Active Cases             20816 non-null  int64
 7   Total Cases                  20816 non-null  int64
 8   Total Deaths                 20816 non-null  int64
 9   Total Recovered              20816 non-null  int64
 10  Total Active Cases           20816 non-null  int64
 11  Location Level               20816 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     20202 non-null  object
 14  Country                      20816 non-null  object
 15  Continent                    20816 non-null  object
 16  Island                       20202 non-null  object
 17  Time Zone                    20202 non-null  object
 18  Special Status               2988 non-null   object
 19  Total Regencies              20816 non-null  int64
 20  Total Cities                 20228 non-null  float64
 21  Total Districts              20816 non-null  int64
 22  Total Urban Villages         20226 non-null  float64
 23  Total Rural Villages         20201 non-null  float64
 24  Area (km2)                   20816 non-null  int64
 25  Population                   20816 non-null  int64
 26  Population Density           20816 non-null  float64
 27  Longitude                    20816 non-null  float64
 28  Latitude                     20816 non-null  float64
 29  New Cases per Million        20816 non-null  float64
 30  Total Cases per Million      20816 non-null  float64
 31  New Deaths per Million       20816 non-null  float64
 32  Total Deaths per Million     20816 non-null  float64
 33  Total Deaths per 100rb       20816 non-null  float64
 34  Case Fatality Rate           20816 non-null  object
 35  Case Recovered Rate          20816 non-null  object
 36  Growth Factor of New Cases   19709 non-null  float64
 37  Growth Factor of New Deaths  18449 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.0+ MB

In [83]:
del df['City or Regency']

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20816 entries, 0 to 20815
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         20816 non-null  object
 1   Location ISO Code            20816 non-null  object
 2   Location                     20816 non-null  object
 3   New Cases                    20816 non-null  int64
 4   New Deaths                   20816 non-null  int64
 5   New Recovered                20816 non-null  int64
 6   New Active Cases             20816 non-null  int64
 7   Total Cases                  20816 non-null  int64
 8   Total Deaths                 20816 non-null  int64
 9   Total Recovered              20816 non-null  int64
 10  Total Active Cases           20816 non-null  int64
 11  Location Level               20816 non-null  object
 12  Province                     20202 non-null  object
 13  Country                      20816 non-null  object
 14  Continent                    20816 non-null  object
 15  Island                       20202 non-null  object
 16  Time Zone                    20202 non-null  object
 17  Special Status               2988 non-null   object
 18  Total Regencies              20816 non-null  int64
 19  Total Cities                 20228 non-null  float64
 20  Total Districts              20816 non-null  int64
 21  Total Urban Villages         20226 non-null  float64
 22  Total Rural Villages         20201 non-null  float64
 23  Area (km2)                   20816 non-null  int64
 24  Population                   20816 non-null  int64
 25  Population Density           20816 non-null  float64
 26  Longitude                    20816 non-null  float64
 27  Latitude                     20816 non-null  float64
 28  New Cases per Million        20816 non-null  float64
 29  Total Cases per Million      20816 non-null  float64
 30  New Deaths per Million       20816 non-null  float64
 31  Total Deaths per Million     20816 non-null  float64
 32  Total Deaths per 100rb       20816 non-null  float64
 33  Case Fatality Rate           20816 non-null  object
 34  Case Recovered Rate          20816 non-null  object
 35  Growth Factor of New Cases   19709 non-null  float64
 36  Growth Factor of New Deaths  18449 non-null  float64
dtypes: float64(13), int64(12), object(12)
memory usage: 5.9+ MB

# Data Processing & Answer

In [85]:
df_new = df.describe()
df_new

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Cities,...,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
count,20816.000000,20816.000000,20816.000000,20816.000000,2.081600e+04,20816.000000,2.081600e+04,20816.000000,20816.000000,20228.000000,...,20816.000000,20816.000000,20816.000000,20816.000000,20816.000000,20816.000000,20816.000000,20816.000000,19709.000000,18449.000000
mean,408.078257,13.784829,393.044341,1.249087,7.788760e+04,2388.498463,6.935489e+04,6144.216132,24.155073,5.872306,...,745.753554,113.682529,-2.730658,30.650065,5639.051564,0.888246,147.020981,14.702046,1.402367,1.080908
std,2119.450324,78.146224,2042.353301,958.146043,3.417859e+05,10758.160910,3.124817e+05,28108.333301,68.699338,16.469371,...,2744.954621,9.856053,3.609097,71.250664,9614.992076,2.321385,233.384058,23.338412,3.131338,1.608258
min,0.000000,0.000000,0.000000,-25725.000000,1.000000e+00,0.000000,0.000000e+00,-2305.000000,1.000000,1.000000,...,8.590000,96.910522,-8.682205,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,0.000000,4.000000,-17.000000,1.579500e+03,43.000000,8.730000e+02,217.000000,7.000000,1.000000,...,47.790000,106.109004,-6.204699,2.240000,361.042500,0.000000,9.200000,0.920000,0.660000,0.630000
50%,45.000000,1.000000,35.000000,1.000000,9.827000e+03,253.000000,7.739000e+03,1002.000000,11.000000,2.000000,...,103.840000,113.417654,-2.461746,9.010000,2423.560000,0.190000,68.220000,6.820000,0.990000,1.000000
75%,161.000000,5.000000,152.000000,29.000000,3.363625e+04,949.000000,2.918100e+04,2748.250000,18.000000,4.000000,...,262.700000,121.201093,0.212037,27.610000,6701.827500,0.760000,175.712500,17.572500,1.330000,1.000000
max,56757.000000,2069.000000,48832.000000,36726.000000,4.247320e+06,143519.000000,4.092586e+06,574135.000000,416.000000,98.000000,...,16334.310000,138.696030,4.225615,1348.130000,79481.050000,63.800000,1533.420000,153.340000,175.000000,134.500000

## Central Tendency

In [86]:
df[df_new.columns].mean()

New Cases                      4.080783e+02
New Deaths                     1.378483e+01
New Recovered                  3.930443e+02
New Active Cases               1.249087e+00
Total Cases                    7.788760e+04
Total Deaths                   2.388498e+03
Total Recovered                6.935489e+04
Total Active Cases             6.144216e+03
Total Regencies                2.415507e+01
Total Cities                   5.872306e+00
Total Districts                4.203812e+02
Total Urban Villages           5.086923e+02
Total Rural Villages           4.489751e+03
Area (km2)                     1.112142e+05
Population                     1.547845e+07
Population Density             7.457536e+02
Longitude                      1.136825e+02
Latitude                      -2.730658e+00
New Cases per Million          3.065007e+01
Total Cases per Million        5.639052e+03
New Deaths per Million         8.882456e-01
Total Deaths per Million       1.470210e+02
Total Deaths per 100rb         1.470205e+01
Growth Factor of New Cases     1.402367e+00
Growth Factor of New Deaths    1.080908e+00
dtype: float64

In [87]:
df[df_new.columns].median()

New Cases                      4.500000e+01
New Deaths                     1.000000e+00
New Recovered                  3.500000e+01
New Active Cases               1.000000e+00
Total Cases                    9.827000e+03
Total Deaths                   2.530000e+02
Total Recovered                7.739000e+03
Total Active Cases             1.002000e+03
Total Regencies                1.100000e+01
Total Cities                   2.000000e+00
Total Districts                1.690000e+02
Total Urban Villages           1.750000e+02
Total Rural Villages           1.591000e+03
Area (km2)                     4.201300e+04
Population                     4.216171e+06
Population Density             1.038400e+02
Longitude                      1.134177e+02
Latitude                      -2.461746e+00
New Cases per Million          9.010000e+00
Total Cases per Million        2.423560e+03
New Deaths per Million         1.900000e-01
Total Deaths per Million       6.822000e+01
Total Deaths per 100rb         6.820000e+00
Growth Factor of New Cases     9.900000e-01
Growth Factor of New Deaths    1.000000e+00
dtype: float64

In [88]:
df[df_new.columns].mode()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Cities,...,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,12.0,1.0,...,16334.31,106.836118,-6.204699,0.0,0.33,0.0,0.0,0.0,1.0,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Variance

- Range

In [89]:
df[df_new.columns].max() - df[df_new.columns].min()

New Cases                      5.675700e+04
New Deaths                     2.069000e+03
New Recovered                  4.883200e+04
New Active Cases               6.245100e+04
Total Cases                    4.247319e+06
Total Deaths                   1.435190e+05
Total Recovered                4.092586e+06
Total Active Cases             5.764400e+05
Total Regencies                4.150000e+02
Total Cities                   9.700000e+01
Total Districts                7.186000e+03
Total Urban Villages           8.453000e+03
Total Rural Villages           7.467800e+04
Area (km2)                     1.916243e+06
Population                     2.645371e+08
Population Density             1.632572e+04
Longitude                      4.178551e+01
Latitude                       1.290782e+01
New Cases per Million          1.348130e+03
Total Cases per Million        7.948104e+04
New Deaths per Million         6.380000e+01
Total Deaths per Million       1.533420e+03
Total Deaths per 100rb         1.533400e+02
Growth Factor of New Cases     1.750000e+02
Growth Factor of New Deaths    1.345000e+02
dtype: float64

- Variance

In [90]:
df[df_new.columns].var()

New Cases                      4.492070e+06
New Deaths                     6.106832e+03
New Recovered                  4.171207e+06
New Active Cases               9.180438e+05
Total Cases                    1.168176e+11
Total Deaths                   1.157380e+08
Total Recovered                9.764479e+10
Total Active Cases             7.900784e+08
Total Regencies                4.719599e+03
Total Cities                   2.712402e+02
Total Districts                1.437271e+06
Total Urban Villages           2.041830e+06
Total Rural Villages           1.599258e+08
Area (km2)                     1.026137e+11
Population                     2.009759e+15
Population Density             7.534776e+06
Longitude                      9.714178e+01
Latitude                       1.302558e+01
New Cases per Million          5.076657e+03
Total Cases per Million        9.244807e+07
New Deaths per Million         5.388828e+00
Total Deaths per Million       5.446812e+04
Total Deaths per 100rb         5.446815e+02
Growth Factor of New Cases     9.805277e+00
Growth Factor of New Deaths    2.586493e+00
dtype: float64

- Standard Deviation

In [91]:
df[df_new.columns].std()

New Cases                      2.119450e+03
New Deaths                     7.814622e+01
New Recovered                  2.042353e+03
New Active Cases               9.581460e+02
Total Cases                    3.417859e+05
Total Deaths                   1.075816e+04
Total Recovered                3.124817e+05
Total Active Cases             2.810833e+04
Total Regencies                6.869934e+01
Total Cities                   1.646937e+01
Total Districts                1.198862e+03
Total Urban Villages           1.428926e+03
Total Rural Villages           1.264618e+04
Area (km2)                     3.203338e+05
Population                     4.483034e+07
Population Density             2.744955e+03
Longitude                      9.856053e+00
Latitude                       3.609097e+00
New Cases per Million          7.125066e+01
Total Cases per Million        9.614992e+03
New Deaths per Million         2.321385e+00
Total Deaths per Million       2.333841e+02
Total Deaths per 100rb         2.333841e+01
Growth Factor of New Cases     3.131338e+00
Growth Factor of New Deaths    1.608258e+00
dtype: float64

- Quantile 0.25

In [92]:
df[df_new.columns].quantile(0.25)

New Cases                      8.000000e+00
New Deaths                     0.000000e+00
New Recovered                  4.000000e+00
New Active Cases              -1.700000e+01
Total Cases                    1.579500e+03
Total Deaths                   4.300000e+01
Total Recovered                8.730000e+02
Total Active Cases             2.170000e+02
Total Regencies                7.000000e+00
Total Cities                   1.000000e+00
Total Districts                1.030000e+02
Total Urban Villages           9.900000e+01
Total Rural Villages           9.280000e+02
Area (km2)                     1.678700e+04
Population                     1.999539e+06
Population Density             4.779000e+01
Longitude                      1.061090e+02
Latitude                      -6.204699e+00
New Cases per Million          2.240000e+00
Total Cases per Million        3.610425e+02
New Deaths per Million         0.000000e+00
Total Deaths per Million       9.200000e+00
Total Deaths per 100rb         9.200000e-01
Growth Factor of New Cases     6.600000e-01
Growth Factor of New Deaths    6.300000e-01
Name: 0.25, dtype: float64

- Quantile 0.5

In [93]:
df[df_new.columns].quantile(0.5)

New Cases                      4.500000e+01
New Deaths                     1.000000e+00
New Recovered                  3.500000e+01
New Active Cases               1.000000e+00
Total Cases                    9.827000e+03
Total Deaths                   2.530000e+02
Total Recovered                7.739000e+03
Total Active Cases             1.002000e+03
Total Regencies                1.100000e+01
Total Cities                   2.000000e+00
Total Districts                1.690000e+02
Total Urban Villages           1.750000e+02
Total Rural Villages           1.591000e+03
Area (km2)                     4.201300e+04
Population                     4.216171e+06
Population Density             1.038400e+02
Longitude                      1.134177e+02
Latitude                      -2.461746e+00
New Cases per Million          9.010000e+00
Total Cases per Million        2.423560e+03
New Deaths per Million         1.900000e-01
Total Deaths per Million       6.822000e+01
Total Deaths per 100rb         6.820000e+00
Growth Factor of New Cases     9.900000e-01
Growth Factor of New Deaths    1.000000e+00
Name: 0.5, dtype: float64

- Quantile 0.75

In [94]:
df[df_new.columns].quantile(0.75)

New Cases                      1.610000e+02
New Deaths                     5.000000e+00
New Recovered                  1.520000e+02
New Active Cases               2.900000e+01
Total Cases                    3.363625e+04
Total Deaths                   9.490000e+02
Total Recovered                2.918100e+04
Total Active Cases             2.748250e+03
Total Regencies                1.800000e+01
Total Cities                   4.000000e+00
Total Districts                2.890000e+02
Total Urban Villages           3.320000e+02
Total Rural Villages           2.853000e+03
Area (km2)                     7.546800e+04
Population                     9.095591e+06
Population Density             2.627000e+02
Longitude                      1.212011e+02
Latitude                       2.120369e-01
New Cases per Million          2.761000e+01
Total Cases per Million        6.701828e+03
New Deaths per Million         7.600000e-01
Total Deaths per Million       1.757125e+02
Total Deaths per 100rb         1.757250e+01
Growth Factor of New Cases     1.330000e+00
Growth Factor of New Deaths    1.000000e+00
Name: 0.75, dtype: float64

## Tambahan

## Objective

1. Mencari nilai central tendency dari New Cases dari data
2. Mencari nilai variance dari New Cases dari data

## Proccessing

In [95]:
df['New Cases']

0         2
1         2
2         2
3         1
4         2
         ..
20811    11
20812     3
20813     1
20814     1
20815     7
Name: New Cases, Length: 20816, dtype: int64

### Central Tendency

 - Mean

In [96]:
df['New Cases'].mean()

408.07825710991546

- Median

In [97]:
df["New Cases"].median()

45.0

- Mode

In [98]:
df['New Cases'].mode()

0    0
dtype: int64

### Variance

- Range

In [99]:
df['New Cases'].max()

56757

In [100]:
df['New Cases'].min()

0

In [101]:
Range = df['New Cases'].max() - df['New Cases'].min()
print('New Cases Range is : ',Range)

New Cases Range is :  56757

- Variance

In [102]:
df['New Cases'].var()

4492069.6738659255

- Standard Deviation

In [103]:
df['New Cases'].std()

2119.450323519267

- Quantile 0.25

In [104]:
df['New Cases'].quantile(0.25)

8.0

- Quantile 0.5

In [105]:
df['New Cases'].quantile(0.5)

45.0

- Quantile 0.75

In [106]:
df['New Cases'].quantile(0.75)

161.0

## Check the Value

In [107]:
df['New Cases'].describe()

count    20816.000000
mean       408.078257
std       2119.450324
min          0.000000
25%          8.000000
50%         45.000000
75%        161.000000
max      56757.000000
Name: New Cases, dtype: float64